body{
    /* The image used */
    background-image: url(tree-sun-light-summer-forest-wallpaper-preview.jpg);
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Lobster', cursive;
    
    border: #F97B22;
}
.aarushpro{
    color: #F0F0F0;


}
p{
    font-family: 'Castoro Titling', cursive;
}
h3{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-family: 'Kanit', sans-serif;
}
p{
    color: #FF6969;
    font-weight: bolder;
}
h2{
    color: #F97B22;
    font-weight: bolder;
}
h3{
    color: #6DA9E4;
    font-weight: bolder;
}
